<div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse"
            data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
            aria-controls="panelsStayOpen-collapseOne">
            SEO
        </button>
    </h2>
    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
        aria-labelledby="panelsStayOpen-headingOne">
        <div class="accordion-body">
            <!--Alternate Name-->
            <div class="row g-2 mt-4">
                <div class="col-md12"><label for="inputName5"
                        class="form-label fw-bold">Alternate Name (SEO)</label></div>
                <div class="col-md-3">
                    <label for="inputName5" class="form-label fw-bold">1</label>
                    <input type="text" class="form-control" id="altername1"
                        placeholder="Enter alternate Name">
                </div>
                <div class="col-md-3 ps-3">
                    <label for="inputName5" class="form-label fw-bold">2</label>
                    <input type="text" class="form-control" id="altername2"
                        placeholder="Enter alternate Name">
                </div>
                <div class="col-md-3 ps-3">
                    <label for="inputName5" class="form-label fw-bold">3</label>
                    <input type="text" class="form-control" id="altername3"
                        placeholder="Enter alternate Name">
                </div>
                <div class="col-md-3 ps-3">
                    <label for="inputName5" class="form-label fw-bold">4</label>
                    <input type="text" class="form-control" id="altername4"
                        placeholder="Enter alternate Name">
                </div>
            </div>
            <!--Product name Keyword-->
            <div class="row mt-4 g-2">
                <div class="col-md12"><label for="inputName5"
                        class="form-label fw-bold">Product Name Keyword</label></div>
                <div class="col-md-3">
                    <label for="inputName5" class="form-label fw-bold">1</label>
                    <input type="text" class="form-control" id="altername1"
                        placeholder="Enter keyword">
                </div>
                <div class="col-md-3 ps-3">
                    <label for="inputName5" class="form-label fw-bold">2</label>
                    <input type="text" class="form-control" id="altername2"
                        placeholder="Enter keyword">
                </div>
                <div class="col-md-3 ps-3">
                    <label for="inputName5" class="form-label fw-bold">3</label>
                    <input type="text" class="form-control" id="altername3"
                        placeholder="Enter keyword">
                </div>
                <div class="col-md-3 ps-3">
                    <label for="inputName5" class="form-label fw-bold">4</label>
                    <input type="text" class="form-control" id="altername4"
                        placeholder="Enter keyword">
                </div>
            </div>
            
            <!--Keyword-->
            <div class="row mt-4 g-2">
                <div class="col-md-9">
                    <label for="inputName5" class="form-label fw-bold">Keyword(Max 8)</label>
                    <textarea class="form-control" id="keywords" rows="3" placeholder="Enter Keywords and seprate them using comma"></textarea>
                </div>
            </div>
            <!--HTML title tags-->
            <div class="row mt-4 g-2">
                <div class="col-md-9">
                    <label for="inputName5" class="form-label fw-bold">HTML Title Tag (Max 60 Char)</label>
                    <input type="text" class="form-control" id="title_tag"
                        placeholder="http://">
                </div>
            </div>

            <!--Meta description-->
            <div class="row mt-4 g-2">
                <div class="col-md-9">
                    <label for="inputName5" class="form-label fw-bold">Meta Description</label>
                    <textarea class="form-control" id="meta_des" rows="3" placeholder="Enter Meta Description"></textarea>
                </div>
            </div>
        </div>
    </div>
</div>