<button type="button" class="btn btn-primary mt-3" (click)="openCreateModal()">Add Sub Category</button>


<div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            
            <div class="modal-body">
                <button type="button" class="btn-close float-end" data-bs-dismiss="modal" aria-label="Close"></button>
                <div class="card-body">
                    <h5 class="card-title">Add Subcategory</h5>
                    <!-- Multi Columns Form -->
                    <form class="row g-3 needs-validation" novalidate (ngSubmit)="onSubmitCategory()">
                        <div class="col-md-12">
                            <label for="inputName5" class="form-label fw-bold">Category Name</label>
                            <input (keyup)="onKeyChange($event)"  type="text" class="form-control" id="categoryName" name="categoryName" placeholder="Category Name" [(ngModel)]="categoryName">
                        </div>
                            <button [disabled]="disablebutton"  type="submit" class="btn btn-primary">Save Category</button>
                    </form><!-- End Multi Columns Form -->
                </div>

            </div>
            
        </div>
    </div>
</div>