
<app-sidebar></app-sidebar>

<main id="main" class="main">
  <app-header></app-header>
  <div class="pagetitle">
    <h1>User Management</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
        <li class="breadcrumb-item active">User Management</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->

  <section class="section dashboard usermanage">
    <div class="row">
      <!-- Recent Sales -->
      <div class="col-12">
        <div class="card recent-sales overflow-auto">

          

          <div class="card-body">
            <h5 class="card-title"><button type="button" class="btn btn-primary" (click)="openCreateModal()">Add User <i class="bi bi-plus-circle"></i></button></h5>

            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"  class="table table-borderless datatable table-striped table-hover">
              <thead>
                <tr>
                  <th scope="col">User Id</th>
                  <th scope="col">Name</th>
                  <th scope="col">Role</th>
                  <th scope="col">Access</th>
                  <th scope="col">Status</th>
                  <th scope="col">Options</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let user of users">
                  <th scope="row"><a href="#" class="p-2 text-muted">{{user.id}}</a></th>
                  <td><img src="assets/img/product-2.jpg" alt=""><b>{{user.name}}</b></td>

                  <td *ngIf="user.role == 1">Admin</td>
                  <td *ngIf="user.role == 2">Sale</td>
                  <td *ngIf="user.role == 3">Website</td>
                  <td *ngIf="user.role != 3 && user.role != 2 && user.role != 1">None</td>

                  <td *ngIf="user.access == 1">Price Calculator</td>
                  <td *ngIf="user.access == 2">Website Data</td>
                  <td *ngIf="user.access == 3">Both</td>
                  <td *ngIf="user.access != 3 && user.access != 2 && user.access != 1">None</td>

                  <td *ngIf="user.status == 1"><span class="badge bg-success">Active</span></td>
                  <td *ngIf="user.status != 1"><span class="badge bg-danger">Inactive</span></td>
                  <td>
                    <span class="p-2 text-muted" (click)="openUpdateModal(user.id)"><i class="bi bi-pencil-fill"></i></span>
                    <span class="p-2 text-muted" (click)="openConfirmation(user.id)"><i class="ri-delete-bin-6-fill"></i></span>
                    
                  </td>
                </tr>
                
                
              </tbody>
            </table>

          </div>

        </div>
      </div><!-- End Recent Sales -->
    </div>
  </section>

</main><!-- End #main -->



<!-- Confirmation Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete Confirmation</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you really want to delete this user?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger" (click)="delete()">Confirm Delete</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade updateuser" id="updateModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <div class="card-body">
                  <h5 class="card-title">Update <b>{{name}}</b> Profile</h5>
                  <p class="alert alert-warning">You can't update <b>{{name}}</b> email ID, you can only view email Id</p>
                  <p class="alert alert-warning">password will not get update for <b>{{name}}</b> if you submite the empty value on password</p>
                  <!-- Multi Columns Form -->
                  <form class="row g-3 needs-validation" novalidate (ngSubmit)="onSubmit()">
                      <div class="col-md-12">
                          <label for="inputName5" class="form-label fw-bold">Full Name</label>
                          <input type="text" class="form-control" id="name" name="name" placeholder="Full Name" [(ngModel)]  = "name" required>
                      </div>
                      <div class="col-md-6">
                          <label for="inputEmail5" class="form-label fw-bold">Email</label>
                          <input type="email" class="form-control" id="emain" name="email" placeholder="Email Id" readonly [(ngModel)]  = "email" required>
                      </div>
                      <div class="col-md-6">
                        <label for="inputPassword5" class="form-label fw-bold">Password</label>
                        <input type="password" class="form-control" name="newpassword" id="newpassword" [(ngModel)]  = "newpassword" required>
                      </div>
                      <div class="col-md-12">
                          <label for="inputState" class="form-label fw-bold">Choose Role</label>
                          <select id="inputState" class="form-select" [(ngModel)]  = "role" name="role">
                              <option selected value="0">--None--</option>
                              <option value="1">Admin</option>
                              <option value="2">Sale</option>
                              <option value="3">Website</option>
                          </select>
                      </div>
                      <div class="col-12">
                          <label class="form-check-label fw-bold" for="inlineRadio1">Choose user access permission</label><br>

                          <select id="access" class="form-select" [(ngModel)]  = "access" name="access">
                            <option selected value="0">--None--</option>
                            <option value="1">Price Calculator</option>
                            <option value="2">Website Data</option>
                            <option value="3">Both</option>
                          </select>
                      </div>
                      <!-- <div class="col-md-12">
                          <label for="inputState" class="form-label fw-bold">Status(Active/Inactive)</label>
                          <select id="status" class="form-select" name="status" [(ngModel)]  = "status">
                              <option selected value="0">Inactive</option>
                              <option value="1">Active</option>
                          </select>
                      </div> -->
                          <button  type="submit" class="btn btn-primary">Confirm Update</button>
                  </form><!-- End Multi Columns Form -->
              </div>

          </div>
          
      </div>
  </div>
</div>


<app-user-create></app-user-create>
<app-footer></app-footer>