<app-sidebar></app-sidebar>

<main id="main" class="main">
    <app-header></app-header>
    <div class="pagetitle">
        <h1>Categories</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
                <li class="breadcrumb-item active">Categories</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->
    <app-tree-category></app-tree-category>
    <section class="section dashboard">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Multi Columns Form</h5>
                        <button type="button" class="btn btn-primary">Add Root Category</button><button type="button"
                            class="btn btn-primary ms-5">Add Sub Category</button>

                        <form class="row g-3 mt-4">
                            <div class="col-md-3">
                                <label for="inputName5" class="form-label fw-bold">Category Name</label>
                                <input type="text" class="form-control" id="category_name"
                                    placeholder="Enter Categor Name">
                            </div>
                            <div class="row g-2">
                                <div class="col-md-3">
                                    <label for="inputEmail5" class="form-label fw-bold">Link To</label>
                                    <input type="text" class="form-control" id="link_to"
                                        placeholder="Enter hot link categor here">
                                </div>
                                <div class="col-md-3 ms-5">
                                    <label for="inputPassword5" class="form-label fw-bold">Link Filtered By</label>
                                    <input type="text" class="form-control" id="link_filter_by" placeholder="http://">
                                </div>
                            </div>

                            <div class="row g-2">
                                <div class="col-md-3">
                                    <label for="inputEmail5" class="form-label fw-bold">Product Naming Formula</label>
                                    <input type="text" class="form-control" id="link_to"
                                        placeholder="Enter product naming formula">
                                </div>
                                <div class="col-md-3 ms-5">
                                    <label for="inputPassword5" class="form-label fw-bold">Product Name Suffix</label>
                                    <input type="text" class="form-control" id="link_filter_by"
                                        placeholder="Enter product name suffix">
                                </div>
                            </div>

                        </form>

                    </div>


                    <div class="accordion" id="accordionPanelsStayOpenExample">
                        <app-seo-category></app-seo-category>
                        <app-filter-category></app-filter-category>
                        <app-supplier-category></app-supplier-category>
                    </div>


                </div>
            </div>


        </div>
    </section>




</main><!-- End #main -->






<app-supplier-create></app-supplier-create>
<app-footer></app-footer>