<app-sidebar></app-sidebar>

<main id="main" class="main">
    <app-header></app-header>
    <div class="pagetitle">
        <h1>Categories</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
                <li class="breadcrumb-item active">Categories</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->
    <app-tree-category (catIdEvent)="getCatId($event)" ></app-tree-category>
    <section class="section dashboard">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <button type="button" class="btn btn-primary mt-3">Add Sub Category</button>
                        
                        <app-basic-category [catId]="catId"></app-basic-category>

                    </div>


                    <div class="accordion" id="accordionPanelsStayOpenExample">
                        <app-seo-category [catId]="catId"></app-seo-category>
                        <app-filter-category></app-filter-category>
                        <app-supplier-category></app-supplier-category>
                    </div>


                </div>
            </div>


        </div>
    </section>




</main><!-- End #main -->







<app-footer></app-footer>