
<div *ngIf="catId">
    <div class="row  mt-4 p-4" >
        <div class="col-6">
            <h5 class="text-primary">Suppliers For <span class="text-dark fw-bold">'{{catName}}'</span></h5>
        </div>
        <div class="col-6"><button class="btn btn-primary float-end " (click)="fetchSupplier()">Add More Suppliers <i class="bi bi-plus-circle"></i></button></div>
        <h5 class="mt-4 supplier_tag">Suppliers Name</h5>
    </div>


    <div class="accordion" id="accordionExample">
        <div class="accordion-item" *ngFor="let supplier of this.supplier">
          <h2 class="accordion-header" id="headingOne{{supplier.supplier.id}}">
            <button (click)="fetchCategorySupplierData(supplier.id)" class="accordion-button collapsed" type="button" [attr.data-bs-toggle]="'collapse'" [attr.data-bs-target]="'#collapseOne'+supplier.supplier.id" aria-expanded="false" [attr.aria-controls]="'collapseOne'+supplier.supplier.id">
                {{supplier.supplier.name}}
            </button>
          </h2>
          <div id="collapseOne{{supplier.supplier.id}}" class="accordion-collapse collapse" [attr.aria-labelledby] ="'headingOne'+supplier.supplier.id" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <form #f="ngForm" (submit)="onSubmit(f)">
                    <div class="row g-2 mt-4 mb-4">
                        
                        <div class="col-md-12"><label for="inputName5" class="form-label fw-bold">Lead time</label>
                        </div>
    
                        <div class="col-md-3 text-center">
                            <label for="inputName5" class="form-label fw-bold">1</label>
                            <input type="text" class="form-control" id="first_lead" name="first_lead" [(ngModel)]="first_lead"
                                placeholder="Enter alternate Name" >
                        </div>
                        <div class="col-md-3 ps-3 text-center">
                            <label for="inputName5" class="form-label fw-bold">2</label>
                            <input type="text" class="form-control" [(ngModel)]="sec_lead"
                                id="alternat_name2" name="sec_lead" 
                                placeholder="Enter alternate Name">
                        </div>
                        <div class="col-md-3 ps-3 text-center">
                            <label for="inputName5" class="form-label fw-bold">3</label>
                            <input type="text" class="form-control"  id="alternat_name3" name="third_lead" [(ngModel)]="third_lead"
                                placeholder="Enter alternate Name">
                        </div>
                        <div class="col-md-3 ps-3 text-center">
                            <label for="inputName5" class="form-label fw-bold">4</label>
                            <input type="text" class="form-control" [(ngModel)]="forth_lead"
                                id="alternat_name4" name="forth_lead" 
                                placeholder="Enter alternate Name">
                        </div>
                    </div>
                    <div class="row g-2 mt-4 mb-4">
                        <div class="col-md-3">
                            <label for="inputName5" class="form-label fw-bold">Default Markup Level</label>
                            <select (change)="onChangeMarkup()" class="form-select" placeholer="Enter From A-Z" name="default_mark_up" [(ngModel)]="default_mark_up">
                                <option>Select From A-Z</option>
                                <option *ngFor="let a of printA_Z" [value]="a">{{a}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="row g-2 mt-4 mb-4">
                        <div class="col-md-12"><label for="inputName5" class="form-label fw-bold">Markup Level By Quantity</label>
                        </div>
                        <div class="col-md-1 ps-3 text-center" *ngFor="let i of quantity_slab | slice:0:12">
                            <label for="inputName5" class="form-label fw-bold">{{i.qty}}</label>
                            <input type="text" [(ngModel)]="i.realvalue" class="form-control" name="{{i.qty}}"  >
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary">Save Supplier</button> <button class="btn btn-danger ms-4" type="button" (click)="removeSupplier(supplier.id)">Remove</button>
                </form>
            </div>
          </div>
        </div>
      </div>
</div>
<div class="modal fade" id="supplierModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-small">
        <div class="modal-content">
            <div class="modal-header">
               
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    ></button>
            </div>
            <div class="modal-body">

                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
                class="table table-borderless datatable table-striped table-hover">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Supplier Name</th>
                        <th scope="col">Action</th>
                        
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of supplierCompleteData">
                        <td>{{data.id}}</td>
                        <td>{{data.name}}</td>
                        <td><button type="button" class="btn btn-primary" (click)="addSupplier($event,data.id)" >Add <i class="bi bi-plus-circle"></i></button></td>
                    </tr>
                </tbody>
            </table>

            </div>
           
        </div>
    </div>
</div>